# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Files
node_modules
dist
.env

# Yarn 4 (Berry) Configuration
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.sw?
